body {
    background: #EDEDED;
    margin: 0;
    font-size: 14px;
    font-family: calibri;
}

.flex {
    display: flex
}

.center {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.top {
    background: #4366AB;
    height: 32px;
    display: flex;
    padding-left: 90px 
}

.top a {
    color: #fff;
    text-decoration: none;
    margin-right: 5px;
    margin-left: 5px
}

.top-menu {
    width: 145.44px;
    background: white;
    padding: 6px 10px;
    box-sizing: border-box; 
}

.top-menu a {
    color: black;
}


.top-menu2 {
    padding: 6px 10px;
    box-sizing: border-box
}

.top-call {
    color: #fff;
    font: 16px calibri-b;
    display: flex;
    margin-left:490px;
    padding-top: 5px;
    box-sizing: border-box;
    width: 250px
}

.top-call img {
    height: 16px;
    margin-right: 3px
}

.top-call p {
    margin: 0;
    font-size: 16px
}

.top-key {
    width: 50px;
    padding-top: 6px;
    box-sizing: border-box;
    display: flex
}

.top-key img{
    height: 15px;
    margin-right: 3px;
    width: 16px;
}

.top-key p {
    margin: 0;
    margin-top: 2px;
    
}

.header {
    background: #fff;
    height: 144px;
}

.center img {
    margin-top: 25px;
    width: 472px;
    height: 74px;
}

.header-call{
    width: 205px;
    float: right;
    margin-top: 50px;
    color: #363636;
}

.header-call-number {
    font: 64px calibri-b;
    margin-left: 12px;
    color: #363636;
    margin-top: 0;
}

.header-call-icon p {
    margin: 0;
    font-size: 64px;
    
}

.header-main img {
    width: 472px;
    height: 74px;
    margin-top: 25px;
}

.header-main input{
    height: 23px;
    width: 166px;
    border: 1px solid #BFBFBF;
    float: right;
    font: 14px calibri;
    padding: 0 23px 0 3px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: 20px;
    
}

.header-call-text{
    margin-left: 12px;
    color: #363636;
    height: 16px;
    font-size: 16px
}

.header-call-icon img {
    width: 38px;
    height: 64px;
    margin: 0;
    
}

.header-call p {
    margin: 0
}

.main-menu {
    height: 40px;
    background: #202735;
    font-size: 15px;
}

.main-menu p{
    color: white;
    margin-right: 20px
}

.page {
    background: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    padding-bottom: 60px;
    font: 14px myriad;
    width: 940px;
}

.page-left {
    width: 164px;
    margin-top: 35px;
    margin-left: 50px;
    float: left;
    border-top: 1px solid #EBEBEB;
}

.menu p {
    margin: 13px auto;
}

.page-left-menu a {
    text-decoration: none;
    color: #4a4a4a;
}

.page-left-menu {
    color: #4a4a4a;
    font-family: myriad-sb;
    padding: 10px 20px;
    width: 124px;
    border-top: 1px solid #EBEBEB;
    
}

.page-left-menu-1 {
    width: 164px;
    float: left;
    padding: 10px 0;
    font-family: myriad-sb;
    text-decoration: none;
    border-bottom: 1px solid #EBEBEB;
    
}

.page-left-menu-1 a{
    text-decoration: none;
    color: black
}

.page-title {
    padding: 10px 20px;
    background: #EDEDED;
    font: 30px myriad-sb;
    margin-top: 35px;
    width: 586px;
    margin-left: 50px;
}

.page-body-sec {    
    margin-top: 40px;
    border-top: 1px solid #DBDBDB;
    padding-bottom: 40px;
    width: 626px;
    margin-left: 50px
}

.page-news {
    width: 642px;
    padding-top: 30px;
    margin-right: 34px;
    border-top: 1px solid #DBDBDB;
        margin-top: 40px;
}

.page-links {
    width: 856px;
    text-align: right;
    margin-right: 50px;
    margin-top: 20px;
}

.page-right {
    width: 642px;
    margin-left: 20px
}

.page-body-sec p{
    width: 276px;
    padding: 10px 0 10px 30px;
    font-family: myriad-sb;
}

.page-body-sec div {
    width: 320px;
}

.page-content {
    width: 586px;
    margin-top: 20px;
    padding: 10px 20px;
    margin-left: 20px
}

.page-news {
    width: 642px;
    padding-top: 30px;
    margin-right: 34px;
    margin-top: 40px;
    border-top: 1px solid #DBDBDB;
}

.page-news-1 {
    width: 198px;
    margin-right: 16px;
    border: 1px solid #d3d3d3
}

.page-news-1-a {
    text-decoration: none
}

.page-news-1-a h2 {
    width: 156px;
    font-size: 15px;
    margin-left: 20px;
    margin-top: 0;
    font-family: tahoma;
    color: black
}

.page-news-1-a p {
    width: 156px;
    font-size: 7px;
    margin-left: 20px;
    margin-top: 5px;
    font: 14px tahoma;
    color: grey;
    
}

.page-news-1-a img {
        width: 198px;
    height: 110px;
    margin: 0
}

.footer {
    padding: 50px 0 0;
    background: #3F64A9;
    color: #fff;
}

.wrapper {
    width: 240px;
    margin: 0 auto;
    text-align: center;
}

.footer-contacts {
    width: 240px;
    margin-top: 15px;
    margin: 0 auto;
    text-align: center;
}

.footer a {
    margin: 0 auto;
}

.links {
    margin: 0 auto;
}

.footer-botom {
    text-align: center;
    line-height: 50px;
    color: #fff;
    background: #202735;
    margin-top: 50px;
    padding: 50px 0 0;
}